footer.clearfix(ng-cloak="")
    .container
        .column.full
            p.align-center &copy; 2014 - Proudly brought to you by the team behind&nbsp;
                a(href="http://octopusdeploy.com" target="_blank")
                    img(title="The most popular .NET deployment automation tool" src="/assets/octologo.png").logo